<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @friend.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @friend.first_name %>
</p>

<p>
  <b>Motto:</b>
  <%= @friend.motto %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
